RewriteEngine On
RewriteBase /
RewriteRule ^manifest.json manifest.php
RewriteRule ^stream/(.*)/(.*)/(.*).json streams.php?type=$1&id=$2&extra=$3 [B]
RewriteRule ^stream/(.*)/(.*).json streams.php?type=$1&id=$2